:root {
    --main-green: #113E21;
    --white: #FFFF;
    --black: #000000;  
    --brown: #6A4837;
}

* {
    font-family: 'roboto';
}

.no-link-style-white {
    color: var(--white);
    text-decoration: none;
}

.no-link-style-black {
    color: var(--black);
    text-decoration: none;
}

.link-style-white {
    color: var(--white);
}

.bg-main-green {
    background-color: var(--main-green);
}

.input-height {
    height: 2rem;
    border-radius: 0 5px 5px 0;
}

.container-form {
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
}

.bold {
    font-weight: bold;
}

.title {
    font-size: 3rem;
    font-weight: bold;
}

.mt-7 {
    margin-top: 7rem;
}

.image-card {
    position: relative;
}

.heart-card {
    position: absolute;
    top: 20px;
    left: 20px;
}

.bg-brown {
    background-color: var(--brown);
}